---

assign_ids: job_plus_uuid
conda_auto_init: false
conda_auto_install: false
container_image_cache_path: {{ pulsar_container_image_cache_path }}
dependency_resolvers_config_file: dependency_resolvers_conf.xml
job_metrics_config_file: {{ pulsar_root_path }}/config/job_metrics_conf.xml
managers:
    benchmarking:
        submit_universe: vanilla
        type: queued_condor
    production:
        submit_universe: vanilla
        type: queued_condor
    test:
        submit_universe: vanilla
        type: queued_condor
message_queue_url: {{ message_queue_url }}
min_polling_interval: 0.5
persistence_directory: {{ pulsar_data_path }}/persisted_data
staging_directory: {{ pulsar_data_path }}/staging
tool_dependency_dir: {{ pulsar_data_path }}/tools/



